/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/

@import url('../fonts/Roboto.css');


/*
 ***********************
 * RESET AND NORMALIZE *
 ***********************
*/

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address,
big, code, del, dfn, em, img, q, s, samp, small, strong, sub, sup, tt, var, b, u, i, dl,
dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu,
main, nav, output, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  margin: 0;
}

ol, ul {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-align: center;
	line-height: 1.15;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

figure {
  margin: 1em 40px;
}

img {
  border-style: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none !important;
}

[clear] {
  clear: both;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* A better looking default horizontal rule */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 *****************
 * CSS VARIABLES *
 *****************
*/

:root {
  --main-bg-color: #fff; /* For using: var(--main-bg-color); */
}

/*
 *******************
 * PAGE MAIN STYLE *
 *******************
*/

section {
  background: #fff;
}

main h1 {
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: inline-block;
  width: 100%;
  background: #000;
}

header nav {
  float: right;
}

header nav li {
  float: left;
  margin-left: 10px;
}

/* EXAMPLE SECTION */

section.example {
  width: 100%;
}

.example .cards {
  display: inline-block;
  margin-bottom: -4px;
}

.example article {
  float: left;
}

/* FOOTER */

footer {
  display: block;
  width: 100%;
}

/*
 *******************
 *  MEDIA QUERIES  *
 *******************
*/

/* EXTRA LARGE DISPLAY */

@media only screen and (max-width: 2400px) and (min-width: 1500px) {

}

/* MEDIA FOR NOTEBOOK DISPLAY */

@media only screen and (max-width: 1200px) and (min-width: 300px) {

}

/* MEDIA FOR TABLET DISPLAY */

@media only screen and (max-width: 992px) and (min-width: 300px) {

}

/* MEDIA FOR MEDIUM MOBILE DISPLAY */

@media only screen and (max-width: 768px) and (min-width: 300px) {

}

/* MEDIA FOR LITTLE MOBILE DISPLAY */

@media only screen and (max-width: 480px) and (min-width: 300px) {

}

/*
 *******************
 *  PRINT STYLES  *
 *  DONT TOUCH!!  *
 *******************
*/

@media print {
  *, *:before, *:after, *:first-letter, *:first-line {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }
  a, a:visited {
    text-decoration: underline; }
  a[href]:after {
    content: " (" attr(href) ")"; }
  abbr[title]:after {
    content: " (" attr(title) ")"; }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  img {
    max-width: 100% !important;
    page-break-inside: avoid; }
  p, h2, h3 {
    orphans: 3;
    widows: 3; }
  h2, h3 {
    page-break-after: avoid; }
}
.borderR{
 border-right:2px red;
  margin-right: 30px;
  padding-left: 30px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.container a{
  text-decoration: none;

}
.inline{
  display: inline;
}
.mt30{
  margin-top: 30px;
}
.border-top{
  border-top: dotted;
}
.mt20{
  margin-top: 20px;
}
.relative{
  position:relative;
  width: fit-content;
  
}
.absolute{
  position:absolute;
}
.banner .relative .white h2{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;

color: #FFFFFF;
  
}
.banner .relative .white p{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
color: #FFFFFF;
}
.menu{
  display:flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x:auto;
}
.menu .borderR p{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
color: #858997;

}
.mr10{
  margin-right: 10px;
}
.mt15{
  margin-top: 15px;
}
.left{
  background-color: #02f1ea;
  height:212px;
  max-height: 100% !important;
  border-radius: 10px;
}
.center{
  margin: auto;
}
.mt60{
  margin-top: 28px;
}
.txtB{
  color: #000;
}
.bold{
  font-weight: bold;
}
.nowrap{
  white-space: nowrap;
}
.image{
  background-color: #F6F5FA;
  padding: 10px;
}
.image img{
  max-width:100%; 
  max-height: 100%; 
}
.mr5{
  margin-right: 10px;
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-gap: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.infor .category{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
  padding-top:20px;
  font-weight: 500;
  font-size: 1.25vw;
  color: rgba(35, 31, 32, 0.35);
  
}
.content h2{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
color: #06104A;

}
.infor p{
  margin-bottom: 10px;
}
.name{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
  color: #231F20;
  font-size: 1.5vw;
}
.price{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
  color: #231F20;
  font-size: 1.75vw;
  
}
.container h2{
  font-size: 1.75vw;
  color: #06104A;
  font-weight: bold;
}
.content{
  margin-top: 40px;
}
.more{
  color: #06104A;
  font-size: 1.5vw;
  text-align: right;
}
.bold-22{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 2vw;
color: #263238;
}
.happy{
  color: #231F20;
  font-weight: bold;
font-size: 1.75vw;
}
.happy-below{
  color: #858997;
  font-size: 1vw;
}
/* navbar */
.navbar-brand {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 2vw;
  color: #06104A;
  display: flex;
  align-items: center;
}
.navbar li{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1.75vw;

}
.row .text p{
  font-family: Montserrat;
  color: #FFFFFF;
}
.mb8{
  margin-bottom: 8px;
}
.mb10{
  margin-bottom: 10px;
}
 .logo{
  display:flex;
  align-items:flex-start;
  justify-content: center;
}

.ml5{
  margin-left: 5px;
}
.footer .container h3{
  font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 1.25vw;
color: #06104A;
  text-align: left;
  margin-bottom: 10px;
}
.footer .container ul li{
  font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 1.2vw;


  margin-bottom: 15px;
  text-align: left;
}
.footer .container .account ul li{
  display: inline;
  margin-right: 20px;
}

.footer .container ul li a{
  color: #000000;
}
.footer .information ul li a{
  display: flex;
  align-items: center;
}
.alo ul li a{
  font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 1.5vw;
color: #141821;
}
.btn-top {
  border: medium none;
  bottom: 20px;
  cursor: pointer;
  display: none;
  height: 50px;
  outline: medium none;
  padding: 0;
  position: fixed;
  right: 20px;
  width: 50px;
  z-index: 9999;
}